.navbar-default {
	background-color: transparent;
	border: none;
}

.header .navbar-header a {
	font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: 400;
	line-height: 55px;
	color: #000000;
	padding: 0 15px;
	margin: 50px 0;
	text-decoration: none;
}

.header li {
	margin-left: 20px;
	padding: 50px 0;
}

.header .nav .active a {
	background-color: transparent;
	color: #000000;
}

.header .nav .active a:hover {
	background-color: transparent;
	color: #ff6033;
}

.header .nav .active a:focus {
	background: transparent;
} 

.header .nav li a {
	text-transform: uppercase;
	font: 600 16px "Raleway";
	color: #000000;
}

.header .nav li a:hover {
	border-top: 3px solid #ff6033;
	color: #ff6033;
	margin-top: -3px;
}

.header a:visited {
	background-color: #ff6033;
}

.home {
	background: transparent url("img/header-bg.png") no-repeat bottom right;
	background-color: #f9f9fb;
}

.home h2 {
	font: 800 60px "Raleway";
	color: #000000;
	margin-top: 355px;
}

.home p {
	color: #000000;
	margin: 15px 0 35px 0;
}

.button {
	font: 20px "Raleway";
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 0;
	border: 0;
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	padding: 15px 50px;
}

.scroll-icon {
	position: relative;
	content: '';
	width: 25px;
	height: 40px;
	border: 2px solid black;
	border-radius: 25px;
	margin: 275px auto 70px auto;
}

.scroll-icon:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 15px;
  background: #000000;
  border-radius: 25%;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.about-us {
	background-color: #00c4c4;
}

.about-us .section-background {
	background: transparent url("img/raspberries.png") no-repeat bottom left;
}

.about-us h2 {
	font: 800 60px "Raleway";
	color: #ffffff;
	margin-top: 180px;
}

.about-us p {
	color: #ffffff;
}

.classic-paragraf {
	font: 17px/1.5 "Raleway";
}

.about-us .two {
	margin-bottom: 230px;
}

.our-services {
	background-color: #70bfff;
}

.our-services .section-background {
	background: transparent url("img/tomato.png") no-repeat right;
}

.our-services h2 {
	font: 800 60px "Raleway";
	color: #ffffff;
	text-align: center;
	margin-top: 350px;
}

.services-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 400px;
	min-height: 100px;
	background-color: #ffffff;
	margin-bottom: 20px;
	box-shadow: 0 4px 10px rgba(0,0,0,.5)
}

.services-box p {
	font: 700 20px "Raleway";
	padding: 20px 0;
	margin: auto;
	max-width: 300px;
	color: #000000;
}

.services-box img {
	border-left: 1px solid #000000;
	max-width: 100px;
	width: 100%;
	padding: 25px; 
}

.our-services a:first-child .services-box {
	margin-top: 180px;
}

.our-services a:last-child .services-box {
	margin-bottom: 150px;
}

.gallery {
	background-color: #ffe92f;
}

.gallery h2 {
	font: 700 90px "Raleway";
	text-align: center;
	margin-top: 12%;
}

.gallery .classic-paragraf {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.gallery img {
	margin-top: 31px;
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	width: 100%;
}

.gallery .button {
	margin: 50px 0 120px 0;
}

.gallery .gallery-hidden {
	display: none;
}

.subscribe {
	background: transparent url("img/blueberries-bg.png") no-repeat right;
}

.subscribe h2 {
	font: 700 40px "Raleway";
	margin-top: 145px;
}

.input-group {
	margin-bottom: 165px;
}

.input-group .form-control {
	border-radius: 0;
	border: 1px solid #262626;
	padding: 25px 10px;
}

.input-group-btn:last-child .btn {
	padding: 14px 30px;
	margin-left: 30px;
	outline: 0;
}

.subscribe .classic-paragraf {
	margin: 20px 0;
}

.blog {
	background: #b07cf7;
}

.blog h2 {
	font: 700 90px "Raleway";
	text-align: center;
	margin-top: 12%;
	color: #ffffff;
}

.blog .classic-paragraf {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

.blog > div > .row > div:first-child > div {
	background: url("img/blog-1.png") no-repeat center;
	background-size: cover;
}

.blog > div > .row > div:nth-child(2) > div {
	background: url("img/blog-2.png") no-repeat bottom;
	background-size: cover;
}

.blog > div > .row > div:nth-child(3) > div {
	background: url("img/blog-3.png") no-repeat center;
	background-size: cover;
}

.blog-content {
	margin: 14% 0;
}

.blog-date {
	background: linear-gradient(rgba(255,255, 255, 0.1), rgba(5, 5, 5, 0.9));
	padding: 20px;
	opacity: 0;
	transition: all, ease, 0.4s;
}

.blog-date:hover {
	opacity: 1;
}

.blog-topic {
	padding: 10px;
	margin-top: 36%;
}

.blog-topic	a {
	font: 700 20px "Raleway";
	color: white;
	cursor: pointer;
}

.blog-topic p {
	font: 300 13px "Raleway";
	color: white;
	margin-top: 5%;
	margin-bottom: 0;
}

.blog .blog-hidden {
	display: none;
}

.date {
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
	text-transform: uppercase;
	max-width: 60px;
	font: 700 32px "Raleway";
	text-align: center;
}

.blog .blog-content .date p{
	margin: 0;
	line-height: 1.15;
	color: #ffffff;
}
 .month {
 	font-size: 21px;
 }

.blog .button {
	margin-bottom: 10.5%;
}

.contact {
	background: url("img/footer-bg.png") no-repeat;
	background-size: 100% 100%; 
}

.contact h2 {
	font: 700 90px "Raleway";
	text-align: center;
	margin-top: 28%;
}

.contact .classic-paragraf {
	margin-bottom: 50px;
	text-align: center;
}

address {
	display: flex;
	flex-direction: column;
	font: 300 17px "Raleway";
	text-transform: uppercase;
	line-height: 1.4;
}

.contact address a {
	margin-bottom: 10px;
}

.contact .form-control {
	color: #ffffff; 
	border-radius: 0;
	border: none;
	padding: 4.5% 5%;
	margin-bottom: 15px;
	background-color: #00c4c4;
	opacity: 0.6;
	outline: none;
	resize: none;
}

.contact .form-control:focus {
	background-color: #00c4c4;
	opacity: 1;
	border-left: 5px solid #355b82;
}

.contact .button {
	background-color: #00c4c4;
	opacity: 0.6;
	margin-bottom: 18%;
}

.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.form-control::-moz-placeholder {
  color: #ffffff;
}

.form-control:-ms-input-placeholder {
  color: #ffffff;
}

.form-control:-moz-placeholder {
  color: #ffffff;
}

.footer {
	background-color: #262626;
}

.footer a {
	font-family: "Pacifico", cursive;
    font-size: 25px;
    font-weight: 400;
	line-height: 55px;
	color: #ffffff;
	padding: 0 15px;
	text-decoration: none;
}

.footer .classic-paragraf {
  font-size: 16px;
  color: #b9b9b9;
  margin: 7% 0;
}

.footer span {
	color: #ff2b58;
}

@media screen and (max-width: 991px) {

	.header li {
		margin: 0;
		padding: 15px 0;
		text-align: center;
	}

	.header .navbar-header a {
		font-size: 40px;
		margin: 10px 0;
	}

	.navbar-toggle {
		margin-top: 15px;
	}

	.about-us .section-background {
		background: url(img/raspberries.png) no-repeat top right;
		background-size: 35%;
	}

	.about-us h2 {
		text-align: center;
	}

	.about-us .classic-paragraf {
		text-align: center;
	}

	.about-us .two {
	margin-bottom: 130px;
}

	.our-services .section-background {
		background: transparent url(img/tomato.png) no-repeat center;
		background-size: 90%;
	}

	.our-services h2 {
		margin-top: 150px;
	}

	.services-box {
		margin: 20px auto;
	}

	.services-box p {
		font-size: 15px;
	}

	.our-services a:first-child .services-box {
		margin-top: 80px;
	}

	.our-services a:last-child .services-box {
		margin-bottom: 50px;
	}

	.blog-date {
		opacity: 1;
	}

	.blog-content {
		margin: 20px 0;
	}

	.footer .classic-paragraf {
		text-align: center;
	}

}

@media screen and (max-width: 767px) {

	.navbar-default {
		background-color: #f9f9fb;
		opacity: 0.9;
	}

	.home h2 {
		font-size: 50px;
		margin-top: 130px;
	}

	.header .nav li a:hover {
		border: none;
	}

	.header li {
		padding: 5px 0;
		background-color: #f9f9fb;
	}

	.header li:first-child {
		margin-top: 20px;
	}

	.scroll-icon {
		margin: 60px auto 25px auto;
	}

	.about-us .section-background {
		background: none;
	}

	.about-us h2 {
		font-size: 50px;
		text-align: center;
		margin-top: 100px;
	}

	.about-us .two {
		margin-bottom: 20px;
	}

	.our-services .section-background {
		background: transparent url(img/tomato.png) no-repeat center;
		background-size: 80%;
		background-position: 50% 60%;
	}

	.our-services h2{
		font-size: 50px;
		margin-top: 100px;
	}

	.gallery h2 {
		font-size: 50px;
		margin-top: 100px;
	}

	.subscribe {
		background: none;
	}

	.subscribe h2 {
		font-size: 50px;
		margin-top: 50px;
		text-align: center;
	}

	.subscribe .input-group-btn .button {
		margin: 0;
	}

	.input-group {
		display: inline-block;
		margin-bottom: 50px;
	}

	.blog h2 {
		font-size: 50px;
		margin-top: 100px;
	}

	.blog-date {
		opacity: 1;
	}

	.contact h2 {
		font-size: 50px;
	}

	.footer .classic-paragraf {
		text-align: center;
	}
}










